html, body, #root, main {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
	background-color: black;
	font-family: Arial, sans-serif;
}

em {
	font-weight: bold;
	font-style: normal;
}

#splash {
	font-size: 2em;
	padding: 2em;
	box-sizing: border-box;
	margin-right: 20rem;
	color: #ddd;
}

#help {
	position: absolute;
	top: 0;
	right: 0;
	width: 20rem;
	background-color: #666;
	font-size: 1.3em;
	padding: .5em;
	color: white;
	box-shadow: -1px 0 2px 0 #333;
	height: 100vh;
	font-family: Consolas, monospace;
	overflow: auto;
}

#help h2 {
	font-size: 1.2em;
	margin: 0 0 .2em 0;
}
#help p {
	margin: 0 0 1em 0;
	font-size: 0.8em;
}

#help ol {
	list-style: none;
	margin: 0 0 1em 0;
	padding: 0;
}
#help li {
	margin: .3em auto;
}
#help footer {
	font-size: smaller;
	color: #eee;

}

#info-toggle {
	color: white;
	font-size: 2em;
	position: absolute;
	text-align: center;
	top: 50%;
	right: 50%;
	transform: translateY(-50%) translateX(50%);
	width: auto;
	z-index: 1;
}

div.display {
	display: inline-block;
}
div.display-border {
	position: absolute;
}
div.display:hover .display-border {
	border: 1px solid white;
}
.display-border {
	color: #eee;
	font-size: larger;
	text-align: center;
	vertical-align: top;
	font-family: Consolas, monospace;
	font-weight: bold;
	box-sizing: border-box;
}

#errors {
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: 1;
	/* background-color: #a88; */
	background-color: rgb(190, 128, 128);
	color: rgb(59, 0, 0);
	padding: 1rem;
	box-sizing: border-box;
}
#errors li {
	font-family: Consolas, monospace;
}
#errors h2 {
	margin-top: 0;
}
#errors code {
	font-size: larger;
	font-weight: bold;
}
#errors button {
	position: absolute;
	top: 1rem;
	right: 1rem;
}